@import "tailwindcss";

/* 1. BASIC RESETS ONLY */
html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  background-color: #F6F7F9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  color: #111827;
  overflow-x: hidden; /* Put this back here, it's safer now */
}

/* 2. CUSTOM FONTS */
@font-face {
    font-family: "Britanica-Black";
    src: url("https://db.onlinewebfonts.com/t/38c9851a552c219fba7878035cef1a1c.eot");
    src: url("https://db.onlinewebfonts.com/t/38c9851a552c219fba7878035cef1a1c.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/38c9851a552c219fba7878035cef1a1c.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/38c9851a552c219fba7878035cef1a1c.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/38c9851a552c219fba7878035cef1a1c.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/38c9851a552c219fba7878035cef1a1c.svg#Britanica-Black") format("svg");
}